@page "/wiki/history/{title}/{version?}"
@model velociraptor.Pages.HistoryModel
@{
    ViewData["Title"] = @Model.Article.Title;
}

@functions {
    public void FragmentsSeparator(Model.Fragment fragment, bool next)
    {
        if (fragment.Type == velociraptor.Model.History.ChangeType.Deleted)
        {
            if (!next)
            {
                <span class="deleted-text">@fragment.Text</span>
            }
        }
        else if (fragment.Type == velociraptor.Model.History.ChangeType.Inserted)
        {
            if (next)
            {
                <span class="inserted-text">@fragment.Text</span>
            }
        }
        else
        {
            @fragment.Text
        }

        if (!fragment.NoNewLine)
        {
            <br/>
        }
    }

    public void DiffColumn(string padding, string href, string hrefText,
        int version, string date, bool isNext)
    {
        if ((version != 0) || isNext)
        {
            <div class="column normal-text @padding">
                @if (version != 0)
                {
                    <a class="normal-link" href="@href">@hrefText</a>
                }
                else
                {
                    <span class="normal-link">@hrefText</span>
                }
                <h1 class="display-6 top-space">@date</h1>
                @foreach (Model.Fragment fragment in Model.Fragments)
                {
                    FragmentsSeparator(fragment, next: isNext);
                }
            </div>
        }
        else
        {
            <div class="column normal-text @padding">
                <span class="normal-link">@hrefText</span><br/>
            </div>
        }
    }
}

<p class="display-3">@ViewData["Title"]</p>
<div>This edition author: @Model.ChangesAuthor</div>

<br/>

<div class="table text-center">
    @{
        DiffColumn("right-padding", Model.Prev.Link, "Previous version",
            Model.Prev.Number, Model.Prev.Date.ToString(), false);

        DiffColumn("left-padding", Model.Next.Link, "Next version",
            Model.Next.Number, Model.Next.Date.ToString(), true);
    }
</div>
