@page "/wiki/{title}"
@model velociraptor.Pages.ViewModel
@{
    ViewData["Title"] = @Model.Article.Title;
}

<p>
    <span class="display-3">@ViewData["Title"]</span>
    <a class="normal-link left-space" href="@Model.EditLink">Edit</a>
    <a class="normal-link left-space" href="@Model.HistoryLink">History</a>
</p> 

<form method="post">
    <div class="lead">
        @foreach (string line in Model.Article.Text.Split("\n"))
        {
            @line<br/>
        }
    </div>
</form>